<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <button mat-raised-button [color]="'primary'" (click)="toggleBar('upload')">
      Upload invoices
    </button>

    <button mat-raised-button [color]="'primary'" (click)="toggleBar('invoices')">
      Show invoices
    </button>
  </mat-drawer>

  <mat-drawer-content>
    <ng-container *ngIf="currentTab === 'upload'">
      <mat-card>
        <form class="example-form" action="javascript:void(0);">
          <input
            type="file"
            placeholder="Choose a file"
            (change)="handleFileInput($event.target.files)"
          >
          <button
            mat-raised-button
            color="primary"
            (click)="uploadFile();$event.preventDefault()"
          >
            Upload
          </button>
        </form>
      </mat-card>

      <mat-card [class.error]="isError" *ngIf="uploadResponse || isError">
        <mat-card-content *ngIf="uploadResponse && !isError">
          <p>Success: {{uploadResponse.success}}</p>
          <ng-container *ngIf="uploadResponse.error">
            <p>Errors: {{uploadResponse.error}}</p>
            <p>Errors in:
              <span *ngFor="let i of uploadResponse.index; last as last">
              {{last ? i : i + ','}}
            </span>
              lines
            </p>
          </ng-container>
        </mat-card-content>
        <mat-card-content *ngIf="isError">
          <p>{{errorMessage}}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <app-table *ngIf="currentTab === 'invoices'"></app-table>
  </mat-drawer-content>
</mat-drawer-container>


