mat-drawer-container {
  height: 100vh;

  mat-drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding-top: 30px;
    background-color: #cacaca;

    button {
      margin-bottom: 20px;
    }
  }

  mat-drawer-content {
    padding-top: 30px;
    background-color: #eaeaea;

    mat-card {
      width: 400px;
      margin: 0 auto 20px;

      button {
        margin-top: 20px;
      }

      &.error {
        background-color: #f57c7c;
      }
    }
  }
}
